@model IEnumerable<PurchaseSystem.Models.Purchase>

@{
    ViewData["Title"] = "PurchaseReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Purchase Data Report</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Purchase Item")
            </th>
            <th>
                @Html.DisplayName("Purchase Quantity")
            </th>
            <th>
                @Html.DisplayName("Purchase Date")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Vendor")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.purchase_item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.purchase_quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.purchase_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vendor)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<button class="btn btn-success">Generate PDF</button>

